.App {
  text-align: left;
}

.App-header {
  background-color: #888;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 5px;
}

.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 50%;
}

.form {
  padding: 20px;
}