.App {
  text-align: left;
}

.App-header {
  background-color: #888;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

.container {
  padding: 20px;
}

.mapContainer {
  /*
  border-radius: 25px;
  border: 2px solid rgb(33, 42, 173);
  width: 200px;
  height: 150px;  
  */
  padding: 20px; 
}