.App {
  text-align: left;
}

.App-header {
  background-color: slateblue;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  color: white;
  padding-left: 20px;
  margin-bottom: 50px;
}

body {
  margin: 0px;
}

.App-link {
  color: #61dafb;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
  padding: 5px;
}

.left {
  float: left;
  width: 40%;
}

.right {
  float: right;
  width: 60%;
}

.form {
  padding: 20px;
}

* {
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
}

.container {
  text-align: center;
  margin: 10px auto;
}

.csv-input {
  padding: 10px;
  display: block;
  margin: 15px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.container p {
  padding-top: 20px;
  color: #666;
}